# Dependencies
node_modules

# Build output
dist
dist-ssr

# Coverage
coverage

# Playwright
playwright-report
test-results

# Logs
*.log
npm-debug.log*
pnpm-debug.log*

# Environment
*.local
.env
.env.*

# Editor
.vscode/*
!.vscode/extensions.json
.idea
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# OS
.DS_Store
Thumbs.db
